<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>USPCSPS Diliverees</title>
  </head>
  <body>
    <h1>Add a new parcel:</h1>

    <form action="/parcels" method="post">
      <label for="length">Enter length:</label>
      <input id="length" name="length" type="text">
      <label for="width">Enter width:</label>
      <input id="width" name="width" type="text">
      <label for="height">Enter height:</label>
      <input id="height" name="height" type="text">
      <label for="weight">Enter weight:</label>
      <input id="weight" name="weight" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
