<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>USPCSPS Diliverees</title>
</head>
<body>
  <h1>USPCSPS Diliverees</h1>
  <a href='/parcels/new'>Enter a neu parcel to shipp!</a>
  <a href='/parcels'></a>
</body>
</html>
